<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropZone</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <h1>📂 DropZone</h1>
    <form enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="uploadFile[]" id="uploadFile" multiple/>
        <button type="submit">Upload</button>
    </form>
    <form>
        <button type="button" id="qrbutton">QR Code</button>
        <div id="qrimage"></div>
    </form>
</body>
</html>
